.form {
  height: 52rem;
  margin: 0 auto 24rem;
  display: flex;
  gap: 16rem;
}

.input {
  flex: 1;
  height: 100%;
  padding: 12rem;
  border: 1rem solid gray;
  border-radius: 20rem;
  font-size: 18rem;
}
.input::placeholder {
  color: gray;
}

.button {
  width: 52rem;
  height: 100%;
  border: none;
  border-radius: 50%;
}
